div.exp_info
{
    display: block;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    /*padding: 24px;
    border-radius: 6px;*/

}

div.test {

    font-family: helvetica;
    border-style: solid solid solid solid;
    /*border-color: orange;*/
    border-color:#EEEEEE;
}
div.filter_exp {
    background-color: #EEEEEE;
}
td.titre_g{
    font-size: 12px;
    font-weight: bold;
    text-align: left;

}
td.titre_ar_g{
    font-size: 14px;
    font-weight: bold;
    text-align: right;

}
td.titre2_g{
    font-size: 10px;
    text-align: left;
}
td.titre2_ar_g{
    font-size: 11px;
    text-align: right;
}

td.titre3_g{
    font-size: 9px;
    text-align: left;
    font-weight: bold;

}
td.titre3_ar_g{
    font-size: 10px;
    text-align: right;
    font-weight: bold;

}

td.titre{
    font-size: 10px;
    font-weight: bold;
    text-align: left;

}
td.titre_ar{
    font-size: 11px;
    font-weight: bold;
    text-align: right;

}
td.titre2{
    font-size: 9px;
    text-align: left;
}
td.titre2_ar{
    font-size: 8px;
    text-align: right;
}

td.titre3{
    font-size: 8px;
    text-align: left;
    font-weight: bold;

}
td.titre3_ar{
    font-size: 9px;
    text-align: right;
    font-weight: bold;

}
img {
    width: 40px;
    height: 40px;
}
td.t_left{
    /*border: 1px solid red;*/
    width: 30%;
}
td.t_center{
    /*border: 1px solid blue;*/
    width: 10%;
}
td.t_right{
   /* border: 1px solid green;*/
    width: 60%;
}

td.t_left_g{
    /*border: 1px solid red;*/
    width: 30%;
}
td.t_center_g{
    /*border: 1px solid blue;*/
    width: 25%;
}
td.t_right_g{
    /* border: 1px solid green;*/
    width: 45%;
}
table.info_commune {
    background-color: #f5f5f5;
    border: 2px solid #e3e3e3 ;
    line-height: 20px;
}

div.filter {
    background-color: #eee;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    line-height: 15px;
}
table.normal {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    line-height: 20px;
}
table.contact{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    line-height: 20px;
}
table.formation {
    line-height: 20px;
}
table.position_act {
    line-height: 20px;
}
table.info_commune_ar
{
    text-align: right;
}
td.t_bold{
 font-weight: bold;
}
h4.titre_entete{
    text-align: center;
    font-weight: bold;
}

.center {
    text-align: center;
}
td.td_img{
    width: 30%;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
td.td_info{
    width: 70%;


}
table.etat_civil {
    line-height: 20px;

}
table.panel {
    background-color: #EEEEEE;
}
td.pers_cont {
    color: orange;
}
td.verticalTableHeader{

    writing-mode: vertical-rl;
    transform: rotate(-180);
}
div.vtext {
    writing-mode: vertical-rl;
    transform: rotate(-180);
}
/*th.verticalTableHeader{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}*/
/*.verticalTableHeader{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}*/
/*
td.titre{
    font-size: 10px;
    font-weight: bold;
    text-align: left;

}
*/
